.profile-details-container {
  max-width: 1000px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.profile-header {
  font-size: 28px;
  margin-bottom: 20px;
}

.details-flex {
  display: flex;
  flex-direction: column;
}

.profile-info,
.services-details {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.services-details {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.services-list {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 20px;
}

.service-item {
  min-width: 200px;
  padding: 20px;
  margin-right: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}

.button.edit {
  background-color: #967bb6;
  color: #fff;
}

.button.edit-information {
  background-color: #a8e1a0;
  width: 100%;
}

.button.delete {
  background-image: url("../../assets/delete_button.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
}

.button.add-service {
  padding: 8px 16px;
  border: 2px solid #967bb6;
  color: #967bb6;
  border-radius: 4px;
  background: none;
}

.button:hover {
  opacity: 0.9;
}
